<div class="py-6 w-full">
    <div class="flex gap-6 px-3">
      <app-card [cardConfig]="{ number: 62, label: 'Students' }"></app-card>
      <app-card [cardConfig]="{ number: 52, label: 'Employ' }"></app-card>
      <app-card [cardConfig]="{ number: 22, label: 'Teacher' }"></app-card>
    </div>
    <div class="border-b pb-4"></div>
    <div class="px-3 py-5">
      <div class="flex gap-7 flex-wrap">
        <app-date-picker></app-date-picker>
        <app-drop-down></app-drop-down>
        <app-multi-checker></app-multi-checker>
        <app-formslayout></app-formslayout>
      </div>

    </div>
  </div>