




  <div class="">
    <app-accordion title="Dashboard">
      <ng-container *ngFor="let subItem of subItems1">
        <app-accordion [title]="subItem.title">
          <ng-container *ngFor="let subSubItem of subItem.subItems">
            <app-accordion [title]="subSubItem.title">
              <ng-container *ngFor="let subSubSubItem of subSubItem.subItems">
                <app-accordion [title]="subSubSubItem.title">
                  <ul>
                    <li><a href={subSubSubItem.Link}>- Live</a></li>
                  </ul>
                  <!-- {{ subSubSubItem.content }} -->
                  
                </app-accordion>
              </ng-container>
            </app-accordion>
          </ng-container>
        </app-accordion>
      </ng-container>
    </app-accordion>

    <app-accordion title="Table Page">
      <ng-container *ngFor="let subItem of subItems2">
        <a class="font-medium text-base" routerLink="/table" routerLinkActive="active">Table Component</a>
      </ng-container>
    </app-accordion>
  </div>